{% extends "distribution/base.html" %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-2">Восстановление пароля</h1>
</div>
<div class="col-12">
    <form class="row" method="post">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-primary mt-2">Отправить письмо для восстановления пароля
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}